<!DOCTYPE html>
<html>
<head>
    <title>Image Crop App</title>
</head>
<body>
    <h1>Image Crop App</h1>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form action="/" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept=".jpg, .jpeg, .png">
        <input type="submit" value="Upload">
    </form>
</body>
</html>
